

.section-header h2{
  font-weight: 300;
  color: #485664;
  margin-bottom: 20px;
  font-size: 48px;
}
.section-header p{
  color: #8f9fae;
  max-width: 80%;
}


.aboutBg-img{
  background-image: url(../../assets/about-bg.png);
 
}
.about-img{
  margin: 40px 0 0 40px;
}

.aboutUs h4{
  color: #485664;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 20px;
}
 
/* About Us Css */
.aboutUs .nav-link{
  font-size: large;
  font-weight: 500;
  color: #485664;
  cursor: pointer;
  
}
@media (max-width:767.98px){
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link{
    border-color: white white #DEE2E6 #fff ;
    width: 100%;
}
}

  


.aboutUs .nav-link.active{
  color: #1CA7C1 !important;
}
.aboutUs .nav-tabs{
  margin-bottom: 16px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-color: white white #1CA7C1 #fff ;
  border-bottom: 3px solid #1CA7C1;
  
}

.aboutUs .tab-content .tab-pane p:first-child{
  font-style: italic;
}
.aboutUs .tab-content .tab-pane p{

margin-bottom: 12px;
color: #485664;
}

.aboutUs .tab-content .tab-pane i{
  color: #0ea3bd;
  font-size: 2rem !important;
 
  width: 30px !important;
  margin-right: 8px;
  vertical-align: middle;
}
.aboutUs .tab-content .tab-pane h6{
  color: #485664;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

/* Client Section Css */
.clients .carousel-item{
  cursor: pointer;
}
.clients .carousel-item img{
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all .5s ease-in-out;
}
.clients .carousel-item img:hover{
  filter: grayscale(0%);
  opacity: 1;
}

/* Call to action Section */
.cta_bg{
  background-color: #ECEEEF !important;
  
}
.cta h3{
  font-size: 2.5rem;
  color:#485664;
  font-weight: 700;
  position: relative;
  line-height: 3rem;
}

.cta p{
  color: #485664bb ;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 3rem ;
}
.cta a{
  text-decoration: none;
  color: #fff;
  background-color: #1893A8;
  border-radius: 4px;
  
  
}

.cta .cta_Btn{
padding: 12px 35px;
transition: all 0.3s ease-in-out;


}
.cta .cta_Btn:hover{
  background-color: #0ea3bd;
}

/* OnFocus Section  */

.onFocusVideoBgImg{
  background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.699)) ,url(../../assets/onfocus-video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.onFocusVideoBgImg .bi-play{
font-size: 40px !important;
padding: 15px;
background-color: #0ea3bde1;
border-radius: 50%;
position: absolute;
top: 50%;
left: 40%;
transition: all 0.2s ease-in-out;

}
.onFocusVideoBgImg .bi-play:hover{
  background-color: #1892a894;
  transform: scale(1.2);
}
.onFocusContentBgImg{
  background: linear-gradient(rgba(105, 103, 103, 0.507),rgba(116, 109, 109, 0.767)),url(../../assets/onfocus-content-bg.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
} 

.onFocus .content h3{
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.onFocus .content .bi-check-circle-fill {
  font-size: 25px !important;
  color: #0ea2bd !important;
  margin-right: 10px;
  vertical-align: middle;
  
}
.onFocus .content p{
  color: white;
}