.navBar{
  z-index: 1 !important;
}
.brandname{
  font-size: 32px;
  font-weight: 300;
  color: #485664;
}
.brandnamedot{
  color: #0ea2bd;
  font-weight: 500;
}
.bi-chevron-down{
margin-left: 5px;
font-size: 12px !important;
}
/* 
.homedpDown .nav-link.active{
  color: white !important;
}
.homedpDown:hover{

background-color: #485664;

border: #485664;
color: white !important;
}

.dropdown:hover .dropdown-menu  {
  display: block;
  background-color: #485664 !important;
  
  border: #485664;
  border-radius: 0 !important;
  color: white !important;
}

.dropdown-menu .dropdown-item.active{
  background-color: #0ea2bd !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #0ea2bd !important;
  color: white !important;
}

*/
/* .navBar .navbar-light .navbar-nav .nav-link:hover{
color: white !important;
} */

/* .navbar .dropdown a:hover, .navbar .dropdown .active, .navbar .dropdown .active:focus, .navbar .dropdown:hover>a{
  background-color: #485664;
} */

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: rgba(0,0,0,.55);
}

.navbar-light .navbar-nav .nav-link.active:hover{
  color: aliceblue;
}  

 .navBar .dropdown .nav-link:hover{
  background-color: #485664;
  color: white;
  position: relative;
}

.navBar .dropdown .dropdown-menu li:hover{
  display: block;
  background-color: #485664;
  color: white;
}
.navBar .navbar-nav .dropdown-menu{
  background-color: #485664;
}

.dropdown:hover .dropdown-menu   {
  display: block;
  background-color: #485664 !important;
  
  border: #485664;
  border-radius: 0 !important;
  color: white !important;
}

/* heroCarousel section css */

.hero-animated .animated {
  width: 45%;
  animation: MoveUpDown 3s infinite alternate ease-in-out ;
position: relative;
top: 90px;
 
}

@keyframes MoveUpDown {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.hero-animated h2{
  font-size: 48px;
  font-weight: 300;
  margin-top: 90px ;
  color: #485664;
}
 .hero-animated p{
  font-size: 20px;
  font-weight: 400;
  color: rgb(72, 86, 100);
  margin-bottom: 30px;
}
.hero-animated .btn-get-started{
  background-color: #0ea2bd;
  padding: 10px 28px;
  border-radius: 4px;
  transition: all 0.5s  ease-in-out 0.5s;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right:5px ;
 
}

.hero-animated .btn-get-started:hover{
  
  background-color: #0ea3bdc2;
}
.hero-animated .btn-watch-video i{
  color: #0ea2bd;
  font-size: 32px !important;
  
  margin-right: .3rem;
}
.hero-animated .btn-watch-video  {
  text-decoration: none !important; 
  
}
.hero-animated .btn-watch-video .watch-video{
  color: #485664;
  font-weight: 600;
  font-size: 16px;
position: relative;
top: -6px;

}


/* featured Services */
.service-item{
  padding: 30px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out  ;
}
.service-item:hover{
  
  transform: translateY(-10px);
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 25px rgba(27, 26, 26, 0.267);
}
.service-item .icon i{
  font-size: 2rem !important;
  color: #0ea2bd;
}

.service-item h4{
  color: #485664;
}
.service-item p{
  font-size: 14px;
  
  
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a{
  color: #0ea2bd;
  background-color: #485664;
}
.navbar .dropdown a:hover, .navbar .dropdown .active, .navbar .dropdown .active:focus, .navbar .dropdown:hover>{
  /* color: white !important;
  background-color: #0ea2bd; */
  
}
/* .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  
  background-color: #485664;
} */

.navbar a, .navbar a:focus{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 400;
    color: rgba(var(--color-secondary-dark-rgb), 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;

}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
*, ::after, ::before {
  box-sizing: border-box;
}
 .nav-link.active{
  background-color: #0ea2bd;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: white;
}






@media (max-width:767.92px) {
  p{
    font-size: .8rem !important;
  }
  h1{
    font-size: 2rem !important;
  }
  h2{
    font-size: 1.8rem !important;
  }
  h3{
    font-size: 1.6rem !important;
  }
  h4{
    font-size: 1.4rem !important;
  }
  h5{
    font-size: 1.3rem !important;
  }
  h6{
    font-size: 1.2rem !important;
  }
}