.brandname{
  font-size: 32px;
  font-weight: 300;
  color: #485664;
}
.brandnamedot{
  color: #0ea2bd;
  font-weight: 500;
}
.bi{
margin-left: 5px;
font-size: 12px !important;
}

.homedpDown:hover{
position: relative;
background-color: #0ea2bd;
margin: 0 !important;
border: #0ea2bd;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #0ea2bd;
  margin: 0 !important;
  border: #0ea2bd;
}